footer.footer
    .container-fluid
        div.d-flex.justify-content-around.align-items-center
            .copyrigth-block
                = `Copyright © ${new Date().getFullYear()} `
                a(href='mailto:k.peschanov@ringostat.com') Konstantin Peschanov
                a.nav-link.phone-link(href='tel:0672230967')
                    i.fas.fa-mobile-alt
                    |  (067) 223 09 67
            .links-block
                a.btn.btn-outline-primary.btn-rounded(href='https://ringostat.com', target='_blank') Ringostat.com
                a.btn.btn-outline-primary.btn-rounded(href='https://app.ringostat.com', target='_blank') Ringostat app
                a.btn.btn-outline-primary.btn-rounded(href='https://help.ringostat.com', target='_blank') Ringostat help
                a.btn.btn-outline-primary.btn-rounded(href='https://blog.ringostat.com', target='_blank') Ringostat blog
                a.btn.btn-outline-primary.btn-rounded(href='tel:0672230967')
                    i.fas.fa-mobile-alt
                    | &nbsp;(067) 223 09 67